@import '../com/*';

.show {
  padding-top: 50px;
  padding-bottom: 30px;

  .title-area {
    display: flex;
    justify-content: center;

    .title {
      font-family: 'Parisienne', cursive;
      text-align: center;
      font-size: 3.2rem;
      user-select: none;
      margin-bottom: 45px;
      display: inline-block;
      border-bottom: 3px solid gray;
    }
  }
  
  .bookshelf-area {
    width: 1000px;
    height: 730px;
    margin: 0 auto;
    background-color: white;

  }

  .book-card-list {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-auto-rows: 200px;
    justify-content: space-evenly;
    padding-top: 40px;
    row-gap: 40px;

    .book-card {
      background-image: image_url("lib/lib/book.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      .book {
        width: 150px;
        margin: 65px auto 0px;
        position: relative;

        .book-title {
          color: white;
          margin-left: 20px;
          width: 120px;

        }

        .book-author {
          position: absolute;
          color: white;
          font-size: 0.8rem;
          left: 20px;
          top: 70px;
          width: 120px;
        }

        .del-bookshelf {
          position: absolute;
          color: white;
          top: 110px;
          right: 10px;
        }
      }
    }  
  }

  .operate-bookshelf-area {
    width: 1000px;
    height: 20px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    font-size: 1.6rem;
    color: black;
    user-select: none;

    #previous-bookshelf {
      cursor: pointer;
      &:hover {
        color: red;
      }
      &:active {
        color: pink;
      }
    }
    #next-bookshelf {
      cursor: pointer;
      &:hover {
        color: red;
      }
      &:active {
        color: pink;
      }
    }
    #bookshelf-index {
      font-size: 1.2rem;
    }

    .disable-operate {
      color: gray;
      cursor: default;
    }
  }

}