
$temp-header-color: hsl(14, 43%, 29%);
$temp-main-color: hsl(165, 9%, 91%);
$temp-footer-color: hsl(14, 43%, 29%);

$header-back-color: $temp-header-color;
$main-back-color: $temp-main-color;
$footer-back-color: $temp-footer-color;

$font-color-gold: hsl(44, 75%, 51%);
