
$temp-header-color: hsl(0, 50%, 50%);
$temp-main-color: hsl(0, 80%, 80%);
$temp-footer-color: hsl(0, 6%, 79%);

$header-back-color: $temp-header-color;
$main-back-color: $temp-main-color;
$footer-back-color: $temp-footer-color;
