<header class='header'>
  <div class='logo-area' style="color: white">
    <%= link_to '青空図書館', '/', {class: 'logo'} %>
  </div>
  <div class='session-area'>
    <% if user_signed_in? then %>
      <%= render 'layouts/logged-in' %>
    <% else %>
      <%= render 'layouts/not-logged-in' %>
    <% end %>
  </div>
</header>
