<div class='btn'>
  <%= link_to 'ログアウト', {controller: 'devise/sessions', action: 'destroy'}, {method: 'delete'} %>
</div>
<div class='btn'>
  <%= link_to 'マイ本棚', {controller: 'my_bookshelf', action: 'show'}, {method: 'get'} %>
</div>
