<div class='btn'>
  <%= link_to 'ログイン', {controller: 'devise/sessions', action: 'new'}, {method: 'get'} %>
</div>
<div class='btn'>
  <%= link_to '会員登録', {controller: 'devise/registrations', action: 'new'}, {method: 'get'} %>
</div>
