<div class='lib'>
  <div class='btn-area'>
    <button class='btn' value='A'>BTN-A</button>
    <button class='btn' value='B'>BTN-B</button>
    <button class='btn' value='C'>BTN-C</button>
  </div>
  <div class='result-area'>
  </div>
</div>
